<form id="login-form" method="POST" action="/auth/login">
  <div class="form-container">
    <h2>Sign In</h2>
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <p>Please, signup if you don't have any account</p>
    <a href="/auth/signup">Sign Up</a>
    <div>
    </div>
    <div class="inputBox">
      <button type="submit">Login</button>
    </div>
    {{#if errorMessage}}
    <p class="error" style="color: white;">{{errorMessage}}</p>
    {{/if}}
  </div>
</form>