<form id="signup-form" method="POST" action="/auth/signup">
  <div class="form-container">
    <h2>Sign Up</h2>
    <input type="text" name="username" placeholder="Username" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    
    <p>Please, login if you have already account!</p>
    <a href="/auth/login">Login</a>
    <div class="inputBox">
      <button type="submit">Sign Up</button>
    </div>
  </div>
  {{#if errorMessage}}
  <p class="error">{{errorMessage}}</p>
  {{/if}}
</form>