 <h2 class="home-page-title">Take control of your finances</h2>
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/image-one.jpg" class="image-one d-block w-100 h-80" alt="cat">
    </div>
    <div class="carousel-item">
      <img src="/images/image-two.jpg" class="image-two d-block w-100 h-80" alt="dog">
    </div>
    <div class="carousel-item">
      <img src="/images/image-three.jpg" class="image-three d-block w-100" alt="flowers">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
 
 
 
 {{!-- <div class="waviy">
   <span style="--i:1">W</span>
   <span style="--i:2">e</span>
   <span style="--i:3">l</span>
   <span style="--i:4">c</span>
   <span style="--i:5">o</span>
   <span style="--i:6">m</span>
   <span style="--i:7">e</span>
   <br><br>
   <span style="--i:8; margin-left: 15px;">{{userDetails.username}}</span>

  </div> --}}
