<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="icon" type="image/x-icon" href="./images/icon-logo.png"/>
    
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="hamburger-container">
      <button class="hamburger-icon">
        $BUD
      </button>
    </div>
    <ul id="main-ul">
      <li class="logo"><a href="/">$ BUDBUDGETING</a></li>
      <li class="expense">
        <a href="#">EXPENSES</a>
        <ul class="dropdown">
          <li><a href="/expense">List of Expenses</a></li>
          <li><a href="/expense/create">Input New Expense</a></li>
        </ul>
      </li>
      <li class="income">
        <a href="#">INCOME</a>
        <ul class="dropdown">
          <li><a href="/income">List of Income</a></li>
          <li><a href="/income/create">Input New Income</a></li>
        </ul>
      </li>
      <li><a href="/balance">BALANCE</a></li>
      <li>
        <a href="#">My Account</a>
        <ul class="dropdown">
        {{#if userDetails}}
        <li><a href="/auth/logout">Logout</a></li>  
        {{else}}
        <li><a href="/auth/signup">Sign Up</a></li>
        <li><a href="/auth/login">Sign In</a></li>
        {{/if}}  
        </ul>
      </li>
    </ul>
  
    {{{body}}}

    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/script.js"></script>
    {{!-- <script src="/js/chart.js"></script> --}}
    <script src="/chart.js"></script>

  </body>

</html>

