* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  background-color: #333;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a {
  text-decoration: none;
}

ul li {
  position: relative;
}

ul li:hover {
  font-weight: bold;
}

ul li a {
  display: block;
  padding: 20px 25px;
  color: white;
}

ul li ul.dropdown li {
   display: block;
}

ul li ul.dropdown {
  width: 100%;
  background-color: #333;
  position: absolute;
  z-index: 999;
  display: none;
}

ul li a:hover {
  background: #8891a3;
}

ul li:hover ul.dropdown {
  display: block;
}

.hamburger-icon {
  display: none;
}

.main{
  height:100vh;
  width:100%;  
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
}
.home-text{
  text-align:center;
  text-transform: uppercase;
  color: #333; 
  font-size: 5rem;
}

.roller{
  height: 4.125rem;
  line-height: 4rem;
  position: relative;
  overflow: hidden; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1D3557;
}


#spare-time{
  font-size: 1rem;
  font-style: italic;
  letter-spacing: 1rem;
  margin-top: 0;
  color: #333;
}

.roller #rolltext {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
  color: grey;
}

@keyframes slide {
  0%{
    top:0;
  }
  25%{
    top: -4rem;    
  }
  50%{
    top: -8rem;
  }
  72.5%{
    top: -12.25rem;
  }
}

@media (max-width: 800px){
  .main {
    position: absolute;
  }

  .home-text{
  text-align:center;
  text-transform: uppercase;
  color: #333; 
  font-size: 2.125rem;
}
  
  .roller{
  height: 2.6rem; 
  line-height: 2.125rem;  
  }
  
  #spare-time {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
  
  .roller #rolltext {  
  animation: slide-mob 5s infinite;  
}
  
  @keyframes slide-mob {
  0%{
    top:0;
  }
  25%{
    top: -2.125rem;    
  }
  50%{
    top: -4.25rem;
  }
  72.5%{
    top: -6.375rem;
  }
}
}

.waviy {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  top: 40%;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 50px;
  font-weight: bold;
  font-family: Helvetica;
  color: #333;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}

#login-form, .signup {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-container a {
  color: black;
}

.transaction-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 1em;
}

.specific-balance-container {
  justify-content: center;
  margin-top: 1em;
  display: flex;
}

.transaction-header h3 {
  margin-top: 0.5em;
}

.transaction-header button {
  width: 120px;
  height: 30px;
  border-radius: 10px;
  margin-top: 1em;
  cursor: pointer;
}

.form-container a:hover {
  font-weight: bold;
  font-size: 23px;
}


.transaction-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0.5em 2em 0 2em;
  height: 25vh;
  overflow-y: scroll;
  text-align: center;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.sub-transaction-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2em;
}

.sub-sub-transaction-container {
  height: 120px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  flex-basis: 17%;
  flex-wrap: wrap;
  font-size: 17px;
  background-color: #333;
  color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;  
}

.sub-sub-transaction-container a {
  color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.search-bar {
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  display: none;
}

.search-bar input {
  width: 30%;
  border-radius: 10px;
  padding: 4px;
  margin: 5px;
}

.search-bar button {
  width: 100px;
  height: 30px;
  border-radius: 35%;
  cursor: pointer;
}

.form-container input {
  margin: 1em;
  text-align: center;
  height: 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.form-container input:hover {
  border: 2px solid rgb(184, 122, 255);
}

.inputBox button {
  width: 80px;
  height: 30px;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}

.inputBox button:hover {
  font-weight: bold;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border: 2px solid rgb(184, 122, 255);
}

.sub-balance {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 90%;
  border: 2px solid blanchedalmond;
}

.container-balance {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.container-create {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.create-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.create-form input {
  margin: 10px;
  border-radius: 10px;
  height: 30px;
  padding: 5px;
}

.create-form button {
  border-radius: 20%;
  height: 25px;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.container-edit {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.edit-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.edit-form input {
  margin: 10px;
  border-radius: 10px;
  height: 30px;
  padding: 5px;
}

.edit-form button {
  border-radius: 20%;
  height: 25px;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}


@media (width < 1461px) {
  .sub-sub-transaction-container {
    height: 120px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex-basis: 21%;
    flex-wrap: wrap;
    font-size: 15px;
    background-color: #333;
    color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;  
  }
}

@media (width < 1128px) {
  .sub-sub-transaction-container {
    height: 120px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex-basis: 20%;
    flex-wrap: wrap;
    font-size: 15px;
    background-color: #333;
    color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;  
  }
}

@media (width < 928px) {
  .sub-transaction-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 15px;
  }

  .sub-sub-transaction-container {
    height: 120px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex-basis: 26%;
    flex-wrap: wrap;
    font-size: 15px;
    background-color: #333;
    color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;  
  }
}


@media (width < 770px) {
  ul {
    display: none;
    transition: 0.5s;
  }

  .sub-transaction-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .sub-sub-transaction-container {
    height: 110px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex-basis: 40%;
    flex-wrap: wrap;
    font-size: 15px;
    background-color: #333;
    color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;  
  }
  
  .hamburger-container {
    background-color: #333;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  .hamburger-icon {
    display: block;
    height: 30px;
    width: 50px;
    margin: 0 0 0 25px;
    border-radius: 10px;
  }


  .hamburger-icon:hover {
    width: 60px;
    transition: 0.5s ease-out;
    font-weight: bold;
  }
  
}

@media (width < 524px) {
  .sub-sub-transaction-container {
    height: 130px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex-basis: 80%;
    flex-wrap: wrap;
    font-size: 17px;
    background-color: #333;
    color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;  
  }

  .waviy span {
    font-size: 20px;
  }
  
  .edit-form input {
    margin: 5px;
    border-radius: 10px;
    height: 30px;
    padding: 5px;
  }
}