
<div class="container-edit">
  <h3 class="header-edit">Edit Your Income</h3>
  <form class="edit-form" action="/income/{{incomeEdit._id}}/edit" method="post">
    <input class="input-edit" type="date" id="fname" name="date" value="{{incomeEdit.date}}" required>
    <input class="input-edit" type="text" id="lname" name="category" value="{{incomeEdit.category}}" required>
    <input class="input-edit" type="number" id="lname" name="amount" value="{{incomeEdit.amount}}" required>
    <button class="edit-button" type="submit">UPDATE</button>
  </form>
</div>