<div class="container-create">
  <h3 class="header-create">Add Expense</h3>
  <form class="create-form" action="/expense/create" method="post">
    <input class="input-create" type="date" id="fname" name="date" required>
    <input class="input-create" type="text" id="lname" name="category" placeholder="Category" required>
    <input class="input-create" type="number" id="lname" name="amount" placeholder="Amount" required>
    <button class="create-button" type="submit">CREATE</button>
  </form>
</div>