<h1>helloooooo</h1>


<section>
    <form action="/expense/{{expenseEdit._id}}/edit" method="post">
        <label>Date:
            <input type="date" name="date" value="{{expenseEdit.date}}">
        </label>

        <label>Category:
            <input type="text" name="category" value="{{expenseEdit.category}}">
        </label>
        <label>Amount:
            <input type="number" name="amount" value="{{expenseEdit.amount}}">
        </label>
        <button type="submit">Update</button>
    </form>
</section>