
<h3 class="header-edit">Edit Your Expense</h3>
<hr class="hr-edit">
<div class="container-edit">
  <form class="edit-form" action="/expense/{{expenseEdit._id}}/edit" method="post">
    <input class="input-edit" type="date" id="fname" name="date" value="{{expenseEdit.date}}" required>

    <input class="input-edit" type="text" id="lname" name="category" value="{{expenseEdit.category}}" required>

    <input class="input-edit" type="number" id="lname" name="amount" value="{{expenseEdit.amount}}" required>
    
    <button class="edit-button" type="submit">UPDATE</button>
  </form>
</div>